# Dependencies
node_modules
.pnpm-store

# Next.js
.next/
out/

# Expo
.expo/
dist/
*.jks
*.p12
*.key
*.mobileprovision

# Supabase
supabase/.temp/
supabase/supabase/.temp/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Turbo
.turbo
.vercel
.env*.local
